body {
}

.surround {
  border: 1px solid green;
  padding: 10px;
}

#subscriptions {
  float: left;
  width: 20%;
}

#myfeed {
  display: inline-block;
  width: 50%;
}

#recent {
  float: right;
  width: 20%;
}
