body {
  width: 1200px;
  align: center;
}

.surround {
  border: 1px solid green;
  padding: 10px;
}

#subscriptions {
  float: left;
  width: 290px;
}

#myfeed {
  display: inline-block;
  width: 590px;
}

#recent {
  float: right;
  width: 290px;
}
